<div class="container">
  <div class="text-center m-4">
    <h3>ログイン</h3>
  </div>
  
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <% if alert %>
      <div class="alert alert-danger alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert">
          <span aria-hidden="true">&times;</span>
          <span class="sr-only">close</span>
        </button>
        <%= alert %>
      </div>
    <% end %>
    <div class="form-group">
      <%= f.label :email, 'メールアドレス' %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
    </div>
  
    <div class="form-group">
      <%= f.label :password, 'パスワード' %><br />
      <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
    </div>
  
    <% if devise_mapping.rememberable? %>
      <div class="field mt-3 mb-3">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me, 'ログインを記録する' %>
      </div>
    <% end %>
  
    <div class="actions">
      <%= f.submit "ログイン", class: "btn btn-success" %>
    </div>
  <% end %>
  
    <div class="actions mt-1">
      <%= link_to "パスワードを忘れた場合", new_password_path(resource_name) %><br />
    </div>
</div>